<h3 class="m-3">CVE - 2022-34151</h3>


<div class="card flex justify-content-center m-3">
  <div class="row">
    <div class="col-6">
      <p-card header="Description">
        <p class="m-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
          deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
          neque
          quas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
          deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
          neque
          quas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
          deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
          neque
          quas!
        </p>
      </p-card>
    </div>
    <div class="col-3">
      <p-card header="Attack Specifications:">
        <div class="m-3">
          <span class="text-primary"> Attack Vector (AV): </span><span>Network</span>
        </div>
        <div class="m-3">
          <span class="text-primary"> Attack Complexlty (AC): </span><span>High</span>
        </div>
        <div class="m-3">
          <span class="text-primary"> Prlvlleges Requlred (PR): </span><span>None</span>
        </div>
        <div class="m-3">
          <span class="text-primary"> User Interaction(UI): </span><span>Network</span>
        </div>
        <div class="m-3">
          <span class="text-primary"> Scope (S): </span><span>High</span>
        </div>
        <div class="m-3">
          <span class="text-primary"> Confidentlallty (C): </span><span>None</span>
        </div>
        <div class="m-3">
          <span class="text-primary"> Integrity (AV): </span><span>Network</span>
        </div>
        <div class="m-3">
          <span class="text-primary"> Avallability (AC): </span><span>High</span>
        </div>
        <div class="m-3">
          <span class="text-primary"> Prlvlleges Requlred (PR): </span><span>None</span>
        </div>
      </p-card>
    </div>
    <div class="col-3">
      <p-card header="CVSS v3.1 Severity and Metrics">
        <div class="m-3">
          <span class="text-primary"> Base Score: </span><span style="color:red">8.1  HIGH</span>
        </div>
        <div class="m-3">
          <span class="text-primary"> Impact Score: </span><span style="color: orangered">5.9  MEDIUM</span>
        </div>
        <div class="m-3">
          <span class="text-primary"> Exploitability Score: </span><span>2.2</span>
        </div>
        <div class="m-3">
          <span class="text-primary"> Affecting manufactures: </span><span>Omron</span>
        </div>
        <div class="m-3">
          <span class="text-primary"> Affecting device: </span><span>Ormon XXX  Ormon YYY</span>
        </div>
      </p-card>
    </div>
  </div>
</div>
