<div class="flex h-screen">
  <div class="w-full lg:w-4 h-full text-center px-6 py-6 flex flex-column justify-content-center align-items-center">
<!--    <img [src]="'assets/layout/images/logo-dark.svg'" class="h-4rem mt-4" alt="diamond-layout" />-->
<!--    <img class="coyote-logo"  src="../assets/images/CoyoteBlack.png" alt="" width="200"/>-->

    <div class="flex flex-column align-items-center gap-4">
      <div class="mb-3">
        <h2>Login to your account</h2>
        <p>Forgot password? <a class="text-primary hover:underline cursor-pointer font-medium">Click here</a> to reset.</p>
      </div>


      <input type="text" placeholder="UserName" pInputText  [(ngModel)]="value2" />
      <p-password placeholder="Password" [(ngModel)]="value">
        <ng-template pTemplate="header">
          <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="mt-2">Suggestions</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 8 characters</li>
          </ul>
        </ng-template>
      </p-password>
    <button (click)="login()" pButton label="CONTINUE" type="button" class="w-20rem"></button>
    </div>

<!--    <p class="text-color-secondary font-semibold">A problem? <a class="text-primary hover:underline cursor-pointer font-medium">Click here</a> and let us help you.</p>-->
  </div>
  <div class="bg-login w-8 hidden lg:flex flex-column justify-content-between align-items-center px-6 py-6 bg-cover " >
    <div class="mt-auto mb-auto flex flex-column align-items-center">
      <div class="block text-white text-6xl font-semibold ">Coyote OT Threats Prediction,</div>
      <div class="block text-white text-6xl font-semibold "> Detection & Response</div>

      <div class="block text-white text-3xl font-semibold flex flex-column align-items-center">By Cynarios</div>
<!--      <span class="block text-white text-3xl mt-4">Lorem ipsum dolor sit amet, consectetur<br/> adipiscing elit. Donec posuere velit nec enim<br/> sodales, nec placerat erat tincidunt. </span>-->
    </div>
    <img class="coyote-logo" src="../assets/images/CoyoteWhite.png" alt="" width="400"/>

    <!--    <div class="flex align-items-center gap-5">-->
<!--      <span class="text-white font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
<!--      <i class="pi pi-github text-3xl p-1 surface-overlay border-circle cursor-pointer"></i>-->
<!--      <i class="pi pi-twitter text-3xl p-1 surface-overlay border-circle cursor-pointer"></i>-->
<!--    </div>-->
  </div>
</div>
<app-config [minimal]="true"></app-config>
